<ul class="list-group">
  <% @allnotifications.each do |item| %>
    <% if item.typeOfMessage == "Join" %> 
        <li class="list-group-item"> 
          <%= item.text %>
           <a onclick="sendJoinNotification(event)"  href=<%= "/orders/"+item.order.id.to_s+"/order_items?join=true" %> >Join</a>
        </li>
        <% else %>  
          <li class="list-group-item"> 
            <%= item.text %>
            <a href=<%= "/orders/"+item.order.id.to_s+"/order_items" %> >Order</a>
          </li>
      <% end %>
  <% end %>
</ul>

<script>
//send Join Notification to Order Owner
function sendJoinNotification(event){
    // msg format orderId,Joined
    const OrderId=event.target.getAttribute('href').split("/")[2];
    const msg =OrderId+","+"Joined";
    App.notification.send_msg(msg)
    console.log("MESSAGE SENT",);
}

</script>