<div class="col-md-4 ">
    <fieldset class="the-fieldset">
        <legend class="the-legend text-center">My Groups</legend>
        <% @groups.each do |group| %>   
        <div class="row">

            <div class="col-md-6">
                <p style="font-size:20px" ><%= group.name %></p>
                <p style="font-size:20px" ><%= group.id %></p>

            </div>
            <div class="col-md-3">
                <%= link_to 'Select',  group_path(group), class:"btn btn-primary" %>
            </div>

            <div class="col-md-3">
                <%= link_to 'Destroy', group_path(group),
                method: :delete,
                data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
            </div>

        </div>
        <% end %>
    </fieldset>
</div>
    