<div class="col-md-4 ">
<fieldset class="the-fieldset">
    <legend class="the-legend text-center">My Groups</legend>
    <% @groups.each do |group| %>   
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-5">
            <p style="font-size:20px;">ll</p>
        </div>
        <div class="col-md-1">
            <input type="image" src="plus.png" alt="Add" width="24" height="24"> 
        </div>
        <div class="col-md-1">
        </div>                    
        <div class="col-md-1">

        </div>
        <div class="col-md-2">
        </div>
    </div>
    <% end %>
</fieldset>
</div>

