<div class="col-md-8 ">
<fieldset class="the-fieldset">

    <legend class="the-legend text-center" id="groupName"><%= @group.name %><span>  Group</span></legend>

    <!-- The div for add user bar -->
    <div class="row" style="margin-bottom: 25px;">
        <div class="col-md-1">
        </div>
        <div class="col-md-3">
            <label for="friend" style="font-size:18px;"> Your Friend Name </label>
        </div>
        <div class="col-md-6">
            <input type="text" class="form-control">
        </div>
        <div class="col-md-2">
            <input type="submit" class="btn btn-primary" value="Add">
        </div>
    </div>



    <!-- The div for show user  -->

    <div class="row">
    <% @members %>
    <div class="col-md-4 ">
    <fieldset class="the-fieldset">
     <p> hello</p>

    </fieldset>
</div>


    </div>
   
    </fieldset>
</div>