<div class="col-md-8 ">
<fieldset class="the-fieldset">
    <legend class="the-legend text-center">"This will change when group chosen "</legend>


    <!-- The div for add user bar -->
    <div class="row" style="margin-bottom: 25px;">
        <div class="col-md-1">
        </div>
        <div class="col-md-3">
            <label for="friend" style="font-size:18px;"> Your Friend Name </label>
        </div>
        <div class="col-md-6">
            <input type="text" class="form-control">
        </div>
        <div class="col-md-2">
            <input type="submit" class="btn btn-primary" value="Add">
        </div>
    </div>



    <!-- The div for show user by 2 in one row -->
    <div class="row">
        <div class="col-md-5" style="border-width:5px; border-style:solid; margin: 5px 15px 5px 15px;">
                <div class="col-md-4">
                </div>
                <div "col-md-8">                               
                        <p style="font-size:20px;">User Name</p>
                        <a>Delete </a>
                </div>
        </div>
        <div class="col-md-5" style="border-width:5px; border-style:solid; margin: 5px 15px 5px 15px;">
            <div class="col-md-4">
            </div>
            <div "col-md-8">                               
                    <p style="font-size:20px;">User Two</p>
                    <a>Delete </a>
            </div>       
        </div>
    </div>
</fieldset>
</div>