<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

  <head>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

  </head>

  <body>


<div class="container">
    <h1 class="title text-center">Groups</h1>
  

    
    <%= render 'addgroup' %>

    


    <!-- The div for groups -->
    <!-- The container of listgroups & manage group -->
    <div class="row">

        <%= render 'listgroups' %>
<br>
        <%= render 'managegroup' %>

       
       
    </div>

</div>


</body>
</html>