<div class="container">
    <h1 class="title">
    <div class="row">
        <div class="col-md-3 form-control">
        <lable for="email"> Email </lable>
        </div>
        <div class="col-md-4">
            <input type="email" class="form-control">
        </div>
        <div class="col-md-2">
            <input type="submit" class="btn btn-primary" value="send">
        </div>
    </div>
    <div class="row">
        <h3> Friends List </h3>
        <div class="col-md-4">
            <div class="col-md-5">
                <img src="" class="col-md-12">
            </div>
            <div class="col-md-7">
                <a href=""> Friend Name </a>
                <a href=""> unfriend </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="col-md-5">
                <img src="" class="col-md-12">
            </div>
            <div class="col-md-7">
                <a href=""> Friend Name </a>
                <a href=""> unfriend </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="col-md-5">
                <img src="" class="col-md-12">
            </div>
            <div class="col-md-7">
                <a href=""> Friend Name </a>
                <a href=""> unfriend </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="col-md-5">
                <img src="" class="col-md-12">
            </div>
            <div class="col-md-7">
                <a href=""> Friend Name </a>
                <a href=""> unfriend </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="col-md-5">
                <img src="" class="col-md-12">
            </div>
            <div class="col-md-7">
                <a href=""> Friend Name </a>
                <a href=""> unfriend </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="col-md-5">
                <img src="" class="col-md-12">
            </div>
            <div class="col-md-7">
                <a href=""> Friend Name </a>
                <a href=""> unfriend </a>
            </div>
        </div>
    </div>
</div>