<div class="container">
    <div class="row">
        <div class="col-md-6">
            <fieldset class="border p-2">
                <legend class="w-auto">Latest Order</legend>
                <div>
                    <a href=""class="col-md-12"> Launch on 1/12/13 </a>
                </div>
                <div>
                    <a href="" class="col-md-12"> BreakFast on 12/12/12 </a>
                </div>
            </fieldset>
        </div>
        <div class="col-md-6">
            <fieldset class="border p-2">
                <legend class="w-auto">Friends Activity</legend>
                <div>
                    <a href=""class="col-md-12"> Ahmed has Created an Order for launch from mac </a>
                </div>
                <div>
                    <a href=""class="col-md-12"> Ahmed has Created an Order for launch from mac </a>
                </div>
            </fieldset>
        </div>
    </div>
</div>
