<div class="container">
    <div class="row">
        <div class="col-md-6">
            <fieldset class="border p-2">
                <legend class="w-auto">Latest Order</legend>
                <% for order in @latesOrders %>
                <div>
                    <a class="col-md-12"> <%= order.name %> on <%= order.created_at %> </a>
                </div>
                <% end %>
                
            </fieldset>
        </div>
        <div class="col-md-6">
            <fieldset class="border p-2">
                <legend class="w-auto">Friends Activity</legend>
                <% for activity in @activities %>
                <div>
                    <a class="col-md-12"> <%= activity.owner.name %> <%if activity.key == "order.create" %>
                    has added new 
                    <% end %>
                     <%= activity.trackable_type %> </a>
                </div>
                <% end %>
              
            </fieldset>
        </div>
    </div>
</div>
